
# Compositor
picom -b

# Wallpaper
xwallpaper --zoom ~/.wall/Crimson Love27237_square.jpg

# Speedy keys
xset r rate 210 40

# Environment variables set everywhere
export EDITOR="nvim"
export TERMINAL="kitty"
export BROWSER="brave"

# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

# DWM status
rsblocks &

# zsh config dir
export ZDOTDIR=$HOME/.config/zsh

